<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>
      <%= `${page.title ? `${page.title} | ` : ""}${config.title}` %>
    </title>

    <%- partial("app/open-graph") %>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/meta/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/meta/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/meta/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/meta/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/assets/meta/safari-pinned-tab.svg"
      color="#000000"
    />
    <link rel="shortcut icon" href="/assets/meta/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-config"
      content="/assets/meta/browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="https://use.typekit.net/dsj6hfs.css" />

    <%- css('assets/css/main') %>
  </head>
  <body>
    <div id="wrap">
      <%- partial("app/header") %> <%- partial("app/nav") %> <%- body %> <%-
      partial("app/footer") %>
    </div>
    <%- js("assets/js/main") %>
  </body>
</html>
