<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title><%= `${page.title ? `${page.title} | ` : ""}${config.title}` %></title>

		<%- partial("app/open-graph") %>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<link rel="stylesheet" href="https://use.typekit.net/dsj6hfs.css">

		<%- css('assets/css/main') %>

	</head>	
<body>
	<div id="wrap">
		<%- partial("app/header") %>
		<%- partial("app/nav") %>
		<%- body %>
		<%- partial("app/footer") %>
	</div>
	<%- js("assets/js/main") %>
</body>
</html>